PORT=XXXXXX 

  

#MONGO DB SETUP 

# MONGO_URL='mongodb+srv://mga:l6ObXf8RIdHkH32E@netquix-dev.gmrvcfq.mongodb.net/netquix' 
MONGO_URL=XXXXXX

#JWT 

JWT_SECRET =XXXXXX
JWT_EXPIRATION_TIME=XXXXXX


# SOCKET
SOCKET_CONFIG=XXXXXX